In [35]:
# Import necessary libraries

from pyspark.sql import SparkSession

In [36]:
# Create a Spark session

spark = SparkSession.builder.appName("pyspark-jupyter").getOrCreate()

In [37]:
# Define the path to the data file within the "sparkdata" volume

data_path_stock_prices = "/sparkdata/stock/stock_prices.csv"
data_path_stock_list = "/sparkdata/stock/stock_list.csv"

In [38]:
# Load the data into a PySpark DataFrame

df_stock_prices = spark.read.csv(data_path_stock_prices, header=True, inferSchema=True)
df_stock_list = spark.read.csv(data_path_stock_list, header=True, inferSchema=True)

In [39]:
# Register the DataFrame as a temporary SQL table

df_stock_prices.createOrReplaceTempView("stock_prices")
df_stock_list.createOrReplaceTempView("stock_list")

In [40]:
# Perform an SQL query to select 15 recent stock records based on the date

stock_query = spark.sql("""
    -- Select specific columns from stock_prices and stock_list tables
    SELECT 
        stock_prices.Date,            -- Date of the stock record
        stock_prices.RowId,           -- Row ID from the stock_prices table
        stock_list.Name,              -- Stock name from the stock_list table
        stock_list.`Section/Products`,-- Section or Products column from stock_list table (escaped with backticks)
        stock_prices.Open,            -- Opening price of the stock
        stock_prices.High,            -- Highest price during the trading session
        stock_prices.Low,             -- Lowest price during the trading session
        stock_prices.Close,           -- Closing price of the stock
        stock_prices.Volume           -- Volume of stocks traded
    FROM stock_prices 
    -- Perform an INNER JOIN on the SecuritiesCode column to link stock_prices and stock_list
    INNER JOIN stock_list 
    ON stock_prices.SecuritiesCode = stock_list.SecuritiesCode
    -- Retrieve the most recent 15 stock records
    ORDER BY stock_prices.Date DESC  -- Sort the results by date in descending order (most recent first)
    LIMIT 15                         -- Limit the result to 15 rows
""")

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'ORDER'.(line 16, pos 4)

== SQL ==

    SELECT
        stock_prices.Date,
        stock_prices.RowId,
        stock_list.Name,
        stock_list.`Section/Products`,
        stock_prices.Open,
        stock_prices.High,
        stock_prices.Low,
        stock_prices.Close,
        stock_prices.Volume
    FROM stock_prices
    INNER JOIN stock_list
    ON stock_prices.SecuritiesCode = stock_list.SecuritiesCode
    LIMIT 15
    ORDER BY Date DESC
----^^^

In [ ]:
# Show the result of the query

stock_query.show()